<!DOCTYPE html>
<html lang="en" ng-app="public-transportation-app" ng-controller="mainController as mainCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#ff7e00" />
	<script src="js/app.min.js"></script>
	<title>{{mainCtrl.pageTitle}}</title>

	<link rel="icon" href="./images/favicon.ico">
	<link rel="manifest" href="./manifest.json">
	<link ng-href="css/app.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default featured">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">{{mainCtrl.pageTitle}}</a>
				<a href="#/" data-toggle="modal" data-target="#newTripModal"  onClick="event.preventDefault()" class="navbar-brand pull-right">New Trip</a>
			</div>
		</div>
	</nav>
	<main>
		<div class="message" ng-if="mainCtrl.noResults">
  			<strong>No schedule!</strong> Add new one :).
		</div>
		<trip-schedule></trip-schedule>
	</main>
	<generate-trip-modal></generate-trip-modal>
	<div class="container-fluid footer-notification" ng-if="mainCtrl.newVersion">
		<div class="row">
			<div class="col-xs-6"><span class="footer-notification-message">New version Available</span></div>
			<div class="col-xs-6 text-right"><button ng-click="mainCtrl.refresh()" class="btn-refresh">Refresh</button></div>
		</div>
	</div>
</body>
</html>