.featured .modal-title{
	color: #06791f;
	font-weight: 700;
	text-align: center;
}
.modal-header.featured{
	background-color: #FF7F00;
}

.modal-footer.featured{
	border-top: 0;
}

.btn-default.featured{
	width: 100%;
	color: #06791f;
	background-color: #FF7F00;
}

.modal-content.featured{
	background-color: #e4bb93;
}