.navbar-default.featured, .navbar-default.featured .navbar-collapse {
	background-color: #FF7F00;
	border:0;
}

.navbar-default.featured .navbar-brand {
    color: #06791f;
    font-weight: bold;
}

.featured .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.featured .navbar-header{
	width: 100%;
}

@media (min-width: 768px){
	.navbar.featured {
		border-radius: 0;
	}
}